body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

#wrapper {
  width: 980px;
  margin: 0 auto;
}

#map {
  display: block;
  margin: 0 auto;
  border: 5px solid #efefef;
}

h1 {
  text-align: center;
}

.land {
  fill: #ddd;
}

.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.bubble {
  fill: darkslateblue;
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
}

.bubble :hover {
  stroke: #000;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #ccc;
  cursor: pointer;
}

.feature.active {
  fill: orange;
}